@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  box-sizing: border-box;
}
h1{
  font-family: "Outfit", serif;
}
body{
  background-color: #10141E;
}
#root{
  width: 100%;
  min-height: 100vh;
}

@media only screen and (min-width: 1024px){
  .scrollbar-custom::-webkit-scrollbar {
    height: 8px;
    width: 10px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #1e293b;
    border-radius: 10px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #64748b;
    border-radius: 10px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }
}